# Dependencies
node_modules/

# Hardhat
artifacts/
cache/
typechain-types/

# Environment variables
.env

# Coverage
coverage/
coverage.json

# Logs
*.log

# Distribution files
dist/

# IDE-specific files
.vscode/
.idea/
